.brand_logo{
    max-width: 200px;
    max-height: auto;
}

.login-form {
    /* display: inline-block; */
    float: left;
}

.google-login {
    /* display: inline-block; */
    float: right;
}

.center-div {
    text-align: center;
}

.header {
    font-size: 20px;
    font-weight: bold;
    color: rgb(100, 57, 41);
}
.login_btn {
    font-weight: bold;
}